doctrine:
    dbal:
        connections:
            default: &dbal_defaults
                logging: false
                profiling_collect_backtrace: '%kernel.debug%'
                url: '%env(resolve:DATABASE_URL)%'

            messenger:
                <<: *dbal_defaults
                profiling_collect_backtrace: '%kernel.debug%'
                # use the same one unless we're using sqlite for testing
                url: '%env(resolve:DATABASE_URL)%'
    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
#        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: App\Entity
                alias: App

when@test:
    doctrine:
        dbal:
            # Use SQLite for tests (set via phpunit.xml.dist DATABASE_URL)
            url: '%env(resolve:DATABASE_URL)%'

when@prod:
    doctrine:
        orm:
            metadata_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
