{% extends 'base.html.twig' %}

{% block title %}Song index{% endblock %}

{% block body %}
    <h1>Song index</h1>
    {% component api_grid with {
        class: class,
        caller: _self,
        columns: [
            {name: '_actions', prefix: 'song_', actions: ['show']},
            'id',
            'youtubeId',
            {name: 'year', searchable: true, sortable: true},
            {name: 'school', searchable: true, sortable: true},
            {name: 'title', searchable: true, sortable: true},
        ]
    } %}
        {% block title %}
            <a href="{{ path('song_show', row.uniqueIdentifiers)}}">{{ row.title }}</a>
        {% endblock %}
        {% block youtubeId %}
            <a target="_blank" href="http://www.youtube.com/watch?v={{ row.youtubeId }}">{{ row.youtubeId }}</a>
        {% endblock %}

    {% endcomponent %}



{% endblock %}
