
{% extends 'base.html.twig' %}

{% block title %}{{ video.title }}{% endblock %}

        {% block page_header %}
            <div class="page-header" id="banner">
                {{ component('menu', {
                    type: PAGE_MENU,
                    caller: _self,
                    options: {
                        video: video
                    }
                }
                ) }}
            </div>
        {% endblock %}
