{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    {% set columns = [
        {name: '_actions', prefix: 'video_', actions: ['show'], condition: is_granted('ROLE_ADMIN')},
        'id',
        'youtubeId',
        'title',
        {name: 'description', condition: false},
        'date'
    ] %}

    <twig:api_grid
        class="App\\Entity\\Video"
        :columns="columns"
        :caller="_self"
        >
        <twig:block name="id">
            <a target="_blank" href="http://www.youtube.com/watch?v={{ row.youtubeId }}">
                <span class="bi bi-youtube"></span>
            </a>
            <a href="{{ path('video_show', row.uniqueIdentifiers) }}">
                {{ row.title }}</a>
        </twig:block>

    {% block date %}
        {{ row.date|date('Y-m-d') }}
    {% endblock %}

    </twig:api_grid>

{% endblock %}
