{% extends "layout.html.twig" %}
{% set appShortName = 'KPA' %}
{% block logo_mini 'KPA' %}


    {% block stylesheets %}

        {{ parent() }}
    {% endblock %}

    {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
                {{ parent() }}
    {% endblock %}


{# {% block logo_mini %}<b>KPA</b>{% endblock %} #}
{# {% block logo_large '<b>KPA</b> Admin' %} #}

{# {% block page_title 'KPA Admin' %} #}
{# {% block page_subtitle 'Songs and Music!' %} #}

{# could also overwrite template #}
{#        {% include '@SurvosBootstrapBundle/Partials/_footer.html.twig' %} #}
{# #}

{# {% block footer %} #}
{#     This is in the body, not the footer. #}
{# <footer class="main-footer"> #}
{#    <!-- To the right --> #}
{#    <div class="pull-right hidden-xs"> #}

{#    </div> #}
{#    <!-- Default to the left --> #}
{#    <strong>Data Copyright &copy; 2020 <a href="#">Kid Pan Alley</a>.</strong>  All rights reserved. #}
{#    <strong>Code Copyright &copy; 2020 <a href="#">Survos</a>.</strong>  All rights reserved. #}
{# </footer> #}
{# {% endblock %} #}

{% block page_content %}
    <div class=" mb-4">
        {{ block('body') }}
    </div>
{% endblock %}
